# Gradle and Build Outputs
.gradle/
build/
bin/
out/

# Java Class Files & Packages
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Database / Storage
/db/
*.db
/database/*.sqlite
/database/*.sqlite3

# Composer/PHP backup
/vendor/
.env
.env.*
!.env.example
*.log
/logs/

# IDE / System
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db